<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script >
    var ary =[
        {id:1,name:'张三',sex:1},
        {id:2,name:'李四',sex:2},
        {id:3,name:'王五',sex:2},
        {id:4,name:'六六',sex:1}
    ]
    var ary2 = [2,4]
    let tops =[]
    ary2.forEach((item,i) =>{
        let up = ary.find((a) => a.id == item)
        if (up){
            tops.push(up)
        }
    })
    console.log(tops)
    //filter过滤
    //find 查找
    let op=ary.filter((d) => d.sex == 1)
    console.log(op)


</script>
</body>
</html>